In [2]:
import numpy as np
import pandas as pd
import ast

## Data Importing

In [3]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

Seeing the keywords extracting the words(names)

In [6]:
movies.head(1)['keywords'].values

array(['[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'],
      dtype=object)

In [226]:
credits.head(1)['cast'].values

## Merging the tow data sets into one on the basis of movie title

In [4]:
mov=movies.merge(credits, on='title')

In [ ]:
mov.head()

In [5]:
#genre
#id
#keywords
#title
#overview
#production_companies
#cast
#crew
#Keeping only these fields and removing the rest
mov=mov[['genres','id','keywords','title','overview','production_companies','cast','crew']]

In [6]:
mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   genres                4809 non-null   object
 1   id                    4809 non-null   int64
 2   keywords              4809 non-null   object
 3   title                 4809 non-null   object
 4   overview              4806 non-null   object
 5   production_companies  4809 non-null   object
 6   cast                  4809 non-null   object
 7   crew                  4809 non-null   object
dtypes: int64(1), object(7)
memory usage: 300.7+ KB

In [230]:
mov.head(1)

,genres,id,keywords,title,overview,production_companies,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[IngeniousFilmPartners, TwentiethCenturyFoxFil...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]

## counting the rows with null values

In [9]:
mov.isnull().sum()

genres                  0
id                      0
keywords                0
title                   0
overview                0
production_companies    0
cast                    0
crew                    0
dtype: int64

In [8]:
mov.dropna(inplace=True)

In [232]:
#mov.iloc[0]['genres']

## From the genres dictionary filtering out the names of the genres

## The lists are present in form of strings for some reason so to convert the string to list we use the ast.literal_eval function

In [10]:
#''[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]''
#['Action','Adventure','Fantasy','Science Fiction']
def con_genre(obj):
    L=[]
    for genre in ast.literal_eval(obj):
        L.append(genre["name"])
    return L

#### applying con_genre function to all rows of the genre column and storing them in form of list

In [11]:
mov['genres']=mov['genres'].apply(con_genre)

In [12]:
mov['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [ ]:
mov.head()

## Doing the same to the keywords column

In [ ]:
mov['keywords'][0]

In [13]:
def con_keyword(obj):
    L=[]
    for kw in ast.literal_eval(obj):
        L.append(kw['name'])
    return L

In [14]:
mov['keywords']=mov['keywords'].apply(con_keyword)

In [ ]:
mov.info()

Changing the order of the columns for better understanding

In [15]:
mov=mov[['title','id','genres','keywords','overview','production_companies','cast', 'crew']]

## Filtering the production companies

In [ ]:
mov['production_companies'][0]

In [16]:
def con_pro(obj):
    L=[]
    for comp in ast.literal_eval(obj):
        L.append(comp['name'])
    return L

In [17]:
mov['production_companies']=mov['production_companies'].apply(con_pro)

## Filtering the top 5 crew as the cast list is very big and contains name of every single actor

In [18]:
#mov['cast'][0]
def con_cast(obj):
    L=[]
    c=0
    for mem in ast.literal_eval(obj):
        if c>=5:
            break
        L.append(mem['name'])
        c+=1
    return L

In [19]:
mov['cast']=mov['cast'].apply(con_cast)

## Filtering the name of the director of the film

In [20]:
#mov['crew'][0]
def con_crew(obj):
    for mem in ast.literal_eval(obj):
        if mem['job']=="Director":
            return [mem["name"]]

In [41]:
#mov.iloc[4805]['genres']
#mov.iloc[0]['genres']

In [21]:
mov['crew']=mov['crew'].apply(con_crew)

## The overview was in string format so it was changed to a list where each word is treated as a seperated element

In [22]:
mov['overview']=mov['overview'].apply(lambda x:x.split())

In [23]:
mov.head()

,title,id,genres,keywords,overview,production_companies,cast,crew
0,Avatar,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[Ingenious Film Partners, Twentieth Century Fo...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,Pirates of the Caribbean: At World's End,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...","[Walt Disney Pictures, Jerry Bruckheimer Films...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,Spectre,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[A, cryptic, message, from, Bond’s, past, send...","[Columbia Pictures, Danjaq, B24]","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,The Dark Knight Rises,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Following, the, death, of, District, Attorney...","[Legendary Pictures, Warner Bros., DC Entertai...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,John Carter,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[John, Carter, is, a, war-weary,, former, mili...",[Walt Disney Pictures],"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

### We remove all the spaces in names of people and other stuff so that we can work with the data

In [24]:
def rem_space(obj):
    if obj is None or not isinstance(obj, list):
        return obj
    cleaned_data = []
    for item in obj:
        # Remove spaces from each string
        cleaned_item = item.replace(" ", "")
        cleaned_data.append(cleaned_item)
    return cleaned_data

In [25]:
mov['genres']=mov['genres'].apply(rem_space)
mov['keywords']=mov['keywords'].apply(rem_space)
mov['overview']=mov['overview'].apply(rem_space)
mov['production_companies']=mov['production_companies'].apply(rem_space)
mov['cast']=mov['cast'].apply(rem_space)
mov['crew']=mov['crew'].apply(rem_space)

In [106]:
mov.head(1)

,title,id,genres,keywords,overview,production_companies,cast,crew
0,Avatar,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[IngeniousFilmPartners, TwentiethCenturyFoxFil...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]

## We combine the overview,keywords,genres,production_companies,cast and crew fields into a single field called tags and then create the final data frame on which we will be working on

In [26]:
mov['tags']=mov['overview'] + mov['keywords'] + mov['genres'] + mov['production_companies'] + mov['cast'] +  mov['crew']

In [27]:

df = mov[['id','title','tags']].copy()

In [29]:
#df.iloc[100]['tags']

## Converting the list into a string: It converts lists like ['action', 'adventure', 'sci-fi'] into a single string: 'action adventure sci-fi'
## Then changing all the text in tags to lowercase and filling all the None values with nothing

In [30]:
df['tags'] = df['tags'].apply(lambda x: " ".join(x) if isinstance(x, list) else x)

In [31]:
df['tags'] = df['tags'].apply(lambda x: x.lower() if isinstance(x, str) else x)

In [32]:
df['tags'] = df['tags'].fillna("")

## Now we make a 5000 dimension vector and the vector contains the count of 5000 most commonly used words from all the 'tags' field combined and stop words are also removed. We use the scikit-learn CountVectorizer for this and fit ths tags column. 
# We will use Bag of Words

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(df['tags']).toarray()

In [34]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [35]:
#!pip install nltk
vectors[505]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

### Here we clean the data using PorterStemmer. Words such as loved,loving,love are all converted into their root word which in this case is loved. Then we convert it back to a string. This step should be dobe before the vectorization.

In [35]:
from nltk.stem.porter import PorterStemmer

In [36]:
ps=PorterStemmer()

In [37]:
def stem(text):
    L=[]
    for word in text.split():
        L.append(ps.stem(word))

    return " ".join(L)

In [38]:
df['tags']=df['tags'].apply(stem)

In [39]:
df['tags']

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4806, dtype: object

## Now we find the cosine distance between the vectors and suggest the 5 movies whose cosine distance is the closest to the movie

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

In [51]:
similarity = cosine_similarity(vectors)

In [42]:
def suggest(movie):
    index=find_index(movie)
    dist=list(enumerate(similarity[index]))
    suggested_movies = sorted(dist,reverse=True,key=lambda x:x[1])[1:6]
    for m in suggested_movies:
        print(df.iloc[m[0]].title)

In [43]:
def find_index(movie):
    
    for index,m in df.iterrows():
        if m['title'] == movie:
            return index
    return -1

In [240]:
#find_index("The Dark Knight Rises")
#dist=list(enumerate(similarity[0]))
#sorted(dist,reverse=True,key=lambda x:x[1])[1:6]
#df.iloc[0].title

## Put the name of any movie present in the database and it will recommend 5 movies which are similar to it

In [44]:
suggest("Interstellar")

Silent Running
Gravity
Space Pirate Captain Harlock
Space Cowboys
The Martian

In [1]:
import pickle

In [48]:
pickle.dump(df,open('movies.pkl','wb'))

In [49]:
pickle.dump(df.to_dict(),open('movies_dict.pkl','wb'))

In [52]:
pickle.dump(similarity,open('similarity.pkl','wb'))